{% extends "layout.html" %}

{% set hide_navbar = True %}

{% block content %}
<div id="register-container">
    <div id="register-header">
        <h1>Join IDenty.fy</h1>
        <p>Start decomposing DJ sets into playlists today.</p>
    </div>
    <form id="registerForm" method="POST" action="{{ url_for('register') }}">
        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div class="input-group">
            <label for="date_of_birth">Date of Birth:</label>
            <input type="date" id="date_of_birth" name="dob" required>
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="input-group">
            <label for="confirmation">Confirm Password:</label>
            <input type="password" id="confirmation" name="confirmation" required>
        </div>
        <div class="submit-group">
            <input type="submit" value="Register" class="register-btn">
        </div>
    </form>
</div>
{% endblock %}
